<form action="<%= form_action %>" method="post">
  <input type="hidden" name="_method" value="<%= form_value %>">
  <%= protect_from_forgery %>

  <label>Album Name
    <input type="text" name="album[name]" value="<%= @album.name %>">
  </label>
  <br>
  <br>

  <label>
    <input type="radio" name="album[album_type]" value="live"
        <% "checked" if @album.album_type == "live" %>
      >live</option>
  </label>

  <label>
    <input type="radio" name="album[album_type]" value="studio"
        <% "checked" if @album.album_type == "studio" %>
      >studio</option>
  </label>

  <br>
  <br>

  <label>Band Name
    <select name="album[band_id]">
      <option value=""></option>
      <% Band.all.each do |band| %>
      <option value="<%= band.id %>"
        <% "selected" if @album.band_id == band.id %>
        ><%= band.name %></option>
      <% end %>
  </label>


  <input type="submit" value="<%= submit_value %>">


</form>
